<div class="container p-5">
  <h2 class="mb-5"> Fill the form </h2>
  <%= simple_form_for [@granny] do |f| %>
    <%= f.input :first_name, label: "First name"%>
    <%= f.input :last_name, label: "Last name"%>
    <%= f.input :age %>
    <%= f.input :baking_skill, label: "Baking skill", collection: 0..10,  as: :radio_buttons %>
    <%= f.input :lullaby_skill, label: "Lullaby skill", collection: 0..10,  as: :radio_buttons %>
    <%= f.input :storytelling_skill, label: "Storytelling skill", collection: 0..10, as: :radio_buttons %>
    <%= f.input :availability, label: "Availability"%>
    <%= f.input :description, label: "Description"%>
    <%= f.input :price_per_day, label: "Price per day"%>
    <%= f.submit class:"btn-flat"%>
  <% end %>
<div class="container p-5">
