<div class="d-flex justify-content-center ">
  <div class="formcard">
    <h2 class="mb-5"> Your booking requests </h2>
    <div>
      <p class="mt-4" ><strong>From: </strong></p><%= @booking.user.email %>
      <p class="mt-4" ><strong>Message: </strong></p><%= @booking.message %>
      <p class="mt-4" ><strong>Booking Date: </strong></p><%= @booking.occurs_on %>
      <p class="mt-4" ><strong>Booking Status: </strong></p><%= @booking.confirm %>
    </div>
    <div class="mt-4">
      <%= link_to "Accept", accept_granny_booking_path(@booking), action: 'accept', method: 'put', class:"btn btn-success" %>
      <%= link_to "Reject", reject_granny_booking_path(@booking), action: 'reject', method: 'put', class:"btn btn-success" %>
    </div>

  </div>
</div>
